<div class="container">
    <header>
        <span>
            Não tem uma conta?
            <button routerLink='/register'>Cadastre-se</button>
        </span>
    </header>
    <h1>finances</h1>
    <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
        <input type='text' name='email' placeholder='e-mail' formControlName='email' />
        <input type='password' name='password' placeholder='senha' formControlName='password' />
        <button type="submit">Entrar</button>
    </form>
    <button routerLink='/forgot_password'>Esqueceu a senha?</button>
</div>