<div class="container">

    <div class="content">
        <div *ngIf='movimentation !== null' class="detail">
            <h1>{{formatDate(movimentation.date)}}</h1>
            <h4>{{movimentation.type}}</h4>
            <h4>{{movimentation.category}}</h4>
            <h4>Conta: {{movimentation.account.bank}}</h4>
            <p>Valor: {{convertCurrency(movimentation.amount)}}</p>
        </div>
        <div class="action">
            <button type='button' (click)="navigate('movimentation/edit/' + movimentation.id)">
                <mat-icon class="material-icons color_purple">edit</mat-icon>
            </button>
            <button type='button' (click)="deleteItem(movimentation.id, movimentation.account_id)">
                <mat-icon class="material-icons color_purple">delete</mat-icon>
            </button>
        </div>
    </div>
</div>