<div class="container">
    <div class="content">
        <h1>{{title}}</h1>
        <form [formGroup]='cardForm' (ngSubmit)="onSubmit()">

            <input type='text' name='name' placeholder='nome' formControlName='name' />
            <input *ngIf="title === 'Adicionar Cartão'" type='text' name='number' placeholder='número' mask='0000 0000 0000 0000' formControlName='number' />
            <input currencyMask type='text' name='totalLimit' placeholder='limite total' [options]="{ prefix: '', align: 'left', thousands: '.', decimal: ',' }" formControlName='total_limit' />
            <input currencyMask type='text' name='availableLimit' placeholder='limite disponível' [options]="{ prefix: '', align: 'left', thousands: '.', decimal: ',' }"
                formControlName='available_limit' />
            <div class="date">
                <input matInput [matDatepicker]="picker" placeholder="vencimento" formControlName='expiry_date'>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon class="material-icons color_gray">keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="button-container">
                <button type="button" (click)="onCancel()">Cancelar</button>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>