<div class="container">
    <div class="content">
        <h1>Adicionar Despesa</h1>
        <form [formGroup]='expenseForm' (ngSubmit)="onSubmit()">
            <div class="date">
                <input matInput [matDatepicker]="picker" placeholder="data" formControlName='date'>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon class="material-icons color_gray">keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <input type='text' name='amount' placeholder='valor' formControlName='amount' />
            <input type='text' name='shop' placeholder='loja' formControlName='shop' />
            <select name='category' formControlName='category'>
                <option value="">categoria</option>
                <option *ngFor='let category of categories' [value]='category'>{{category}}</option>
            </select>
            <div class="button-container">
                <button type="button" (click)="onCancel()">Cancelar</button>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>