<div class="container">
    <header>
        <span>
            Não tem uma conta?
            <button routerLink='/register'>Cadastre-se</button>
        </span>
    </header>
    <h1>finances</h1>
    <form [formGroup]='userForm' (ngSubmit)="onSubmit()">
        <input type='text' name='email' placeholder='e-mail' formControlName='email' />
        <input type='text' name='token' placeholder='token' formControlName='token' />
        <input type='password' name='password' placeholder='senha' formControlName='password' />
        <button type="submit">Mudar senha</button>
    </form>
</div>