<div class="container">
    <div class="content">
        <h1>{{title}}</h1>
        <form [formGroup]='budgetForm' (ngSubmit)="onSubmit()">

            <input type='text' name='name' placeholder='nome' formControlName='name' />
            <input currencyMask name='amount' placeholder='valor' [options]="{ prefix: '', align: 'left', thousands: '.', decimal: ',' }" formControlName='amount' />
            
            <div class="button-container">
                <button type="button" (click)="onCancel()">Cancelar</button>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>