<div class="container">

    <div class="content">
        <div *ngIf='expense !== null' class="detail">
            <h1>{{expense.shop}}  {{formatDate(expense.date)}}</h1>
            <h4>{{formatDate(expense.date)}}</h4>
            <h4>{{expense.shop}}</h4>
            <p>Valor: {{expense.amount}}</p>
            <p>Cartão: {{expense.card.name}}</p>
            <p>Categoria: {{expense.category}}</p>
        </div>
        <div class="action">
            <button type='button'>
                <mat-icon class="material-icons color_purple">edit</mat-icon>
            </button>
            <button type='button'>
                <mat-icon class="material-icons color_purple">delete</mat-icon>
            </button>
        </div>
        <div class="card-container">
            <div class="card" (click)="navigate('')">
                <mat-icon class="material-icons color_purple">receipt</mat-icon>
                <h1>Adicionar cupom</h1>
            </div>
        </div>
    </div>
</div>