@import '~font-awesome/css/font-awesome.css';

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background: #000 url('./assets/background.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
html, body, #root {
    min-height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons.color_purple { color: #695eb8; }
