<div class="container">
    <div class="content">
        <div class="title">
            <h1>Cupom</h1>
        </div>
        <div *ngIf='items !== null' class="table">
            <div class="header">
                <div class="item">Item</div>
                <div class="amount">Valor</div>
                <div class="icon"></div>
            </div>
            <div *ngFor='let item of items' class="tile">
                <div class="item">{{item.name}}</div>
                <div class="amount">{{convertCurrency(item.amount)}}</div>
                <div class="icon">
                    <button class="icon-button" (click)="deleteItem(item.id)">
                        <mat-icon class="material-icons color_purple">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <form [formGroup]='itemForm' (ngSubmit)="onSubmit()">
            <input type='text' name='name' placeholder='nome' formControlName='name' />
            <input currencyMask type='text' name='amount' placeholder='valor' [options]="{ prefix: '', align: 'left', thousands: '.', decimal: ',' }" formControlName='amount' />
            <button type='submit'>Adicionar</button>
        </form>
        <footer>
            <div>
                <h4>{{convertCurrency(total)}}</h4>
            </div>
        </footer>
    </div>
</div>